* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Roboto;
}

:root {
  --red: #e6212a;
  --maroon: #b5161b;
  --blue: #004aad;
}
