.home-intro {
  position: relative;
  background-image: url("https://images.unsplash.com/photo-1524187257221-4d3ffd2e68b8?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  box-shadow: 0px 0px 20px black;
}

.home-intro::before {
  position: absolute;
  top: 0;
  bottom: 0;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.home-intro .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 1;
}

.home-intro .container h1 {
  font-size: 45px;
  border-bottom: 5px solid var(--red);
  padding: 5px 40px;
}

.home-intro .container p {
  width: 24.5ch;
  font-size: 35px;
  padding: 5px;
  font-weight: 500;
  border-right: 3px solid;
  animation: blink 1s step-end infinite, type 2.5s steps(25) forwards;
  overflow: hidden;
  white-space: nowrap;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes type {
  0% {
    width: 0;
  }
}

/* ---------------------About section -------------------------------- */

.home-about {
  background-color: #222222;
  box-shadow: 0px 0px 20px black;
}

.home-about .container {
  display: grid;
  grid-template-columns: 4fr 3fr;
  background-color: white;
  max-width: 750px;
  width: calc(100% - 20px);
  box-shadow: 0px 0px 20px black;
  border-radius: 5px;
  overflow: hidden;
}

.home-about .container .text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px 20px;
}

.home-about .container .text h1 {
  color: var(--maroon);
}

.home-about .container .text p {
  font-family: Roboto;
  line-height: 22px;
}

.home-about .container .image {
  background-image: url("https://images.unsplash.com/photo-1517935706615-2717063c2225?q=80&w=1965&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
}

/* ----------------Service section ------------------------------ */

.home-service {
  padding: 100px 0px;
}

.home-service h1 {
  font-size: 35px;
  font-weight: 500;
}

.home-service .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
  width: calc(100% - 20px);
  margin-top: 40px;
  gap: 20px;
}

.home-service .grid .service-card {
  background-color: white;
  box-shadow: 0px 0px 15px darkgray;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 5px;
  gap: 10px;
  transition: 250ms all ease-in;
}

.home-service .grid .service-card .header {
  font-size: 20px;
  font-weight: 600;
}

.home-service .grid .service-card .description {
  font-family: Roboto;
}

.home-service .grid .service-card button {
  width: fit-content;
  padding: 8px 15px;
  margin-left: auto;
  background-color: white;
  color: var(--maroon);
  font-weight: 600;
  font-size: 16px;
  transition: all 150ms ease-in;
  cursor: pointer;
}

.home-service .grid .service-card:hover {
  scale: 1.04;
}

.home-service .grid .service-card button:hover {
  background-color: var(--maroon);
  color: white;
}

@media (max-width: 600px) {
  .home-service .grid {
    grid-template-columns: 1fr;
  }
}
